%table
  %thead
    %tr
      %th Team
      %th Country
      %th Actions
  %tbody
    - @teams.each do |team|
      %tr
        %td= team.name
        %td= team.country
        %td
          = link_to "Edit Team", edit_team_path(team)
          |
          = link_to "Delete Team", team_path(team), method: :delete

= link_to "New Team?", new_team_path

