!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title The Sanctuary
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render "admin/shared/header"
    = render "shared/messages"
    .container
      .row
        .col-md-2
          = render "admin/shared/sidebar"
        .col-md-10
          = yield
